DB_HOST=mysql-8.2
DB_PORT=3306
DB_NAME=constructor_tests
DB_USER=root
DB_PASS=
DB_CHARSET=utf8mb4

RATE_LIMIT_DRIVER=file
CACHE_DRIVER=file
SESSION_DRIVER=files

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
