# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Node
node_modules/

# Logs
*.log

# Environment
.env

# Runtime / uploads
storage/
cache/
tmp/

# OpenServer / local
.osp/

# Local configs
config/db.php
config/local.php

# Archives
*.zip

# SQL dumps
*.sql
